{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{% if book %}Edit Book{% else %}Add Book{% endif %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h3>{% if book %}Edit Book: {{ book.title }}{% else %}Add New Book{% endif %}</h3>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">
                        {% if book %}Update Book{% else %}Add Book{% endif %}
                    </button>
                    <a href="{% url 'book_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
